# Flutter
.build/
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Database
*.db
*.sqlite3

# Misc
*.log
.DS_Store